# Copyright 2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Swift creates many files:
.build/
Packages/*/.build/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/configuration/

*/**/Package.resolved

# The build directory for Rust
target/

# We use a few Python tools for development [^1]. Reserve `.env/` to install
# these tools in a local Python virtual environment.
/.venv/

# Xcode is commonly used with Swift and creates local files:
# User-specific Xcode settings
xcuserdata/
*.xcuserdatad
*.xcuserstate
DerivedData/
*.xcscmblueprint

# Many developers use VS Code, Zed
.vscode/

# Some developers use IntelliJ-type IDEs.
.idea/

# And zed.
.zed/

# Ignore terraform files.
.terraform/
terraform.tfstate

# Ignore code coverage output files.
cobertura.xml
coverage.out

# macOS
.DS_Store

# Use as a common build cache.
.build-cache/
